h1{
    background-color: yellow;
}
h2{
    background-color: aquamarine;
}
h3{
    background-color: aliceblue;
}
h4{
    background-color: palevioletred;
}
h5{
    background-color: bisque;
}
h6{
    background-color: brown;
}
body{
    background-color: lightgray;
}
p{
    background-color:lightgoldenrodyellow;
}

